* {
  box-sizing: border-box;
}

:root {
    --bs-font-sans-serif: 'Montserrat', sans-serif;
}

.container-xxl {
    max-width: 1250px;
}

body {
    background-image: url('/imgs/background1.jpg');
    background-size: cover;
}

a { color: var(--bs-dark); }

.title-login {
  color: rgb(39, 68, 123);
  font-size: 3rem;
}



/* homepage */

.title {
  color: rgb(39, 68, 123);
  font-size: 5.5rem;
}

.share-new-btn {
  --bs-btn-hover-color: white;
  font-weight: bold;
}

.recipe__link {
    text-align: center;
    display: block;
    text-decoration: none;
    transition: 250ms all;
  }
  
  .recipe__link:hover {
    transform: scale(1.05);
    opacity: 0.7;
  }
  
  .recipe__img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 230px;
    margin-bottom: 10px;
    box-shadow: 0px 3px 6px rgba(0,0,0,.16);
    overflow: hidden;
    border-radius: 8px;
  }

  .recipe__img img {
    width: 100%;
    object-fit: cover;
  }

  /* recipe */
  .recipe-name {
    font-size: 4.25rem;
  }

  .info {
    margin: 0;
  }

  .info h5 {
    font-size: 1rem;
  }

  .info-box {
    border: 1px solid rgba(0, 0, 0, 0.442);
    margin: 0 1rem;
    padding: 0;
  }

  .delete-btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
  }

  /* search */

  .search-term {
    color: #0dcaf0af;
    text-decoration: underline;
  }

  /* all recipes page */
  /* .userName-span {
    font-size: smaller;
    color: rgb(160, 160, 160);
  } */

/* @media (min-width: 1100px) {
  .recipe-name {
    font-size: 5.25rem;
  }
} */